@import 'https://cdnjs.cloudflare.com/ajax/libs/framework7/5.7.10/css/framework7.bundle.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/material-design-icons/3.0.1/iconfont/material-icons.min.css';

.navbar .title{
    line-height: 2em;
}

#magic button{
    background-color: blue;
}

#loginSignin{
    width: 30em;
}

#logout{
    width: 7em;
}

#map-here{
    height: 75vh;
    margin-top: .5em;
}

#closeSave{
    margin: 0;
    width: 12em;
}

#theNote{
    width:100%;
    height:100%;
}

#tab2{
    min-height:75vh;
}
button{
    width: auto;
    float: right;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.rowComp{
    text-decoration: line-through;
}
